

body {
    /* background-color: white; */
    background-color: black;
}

header {
    display: flex;
    background-color: rgb(70, 200, 200);
    align-items: center;
    justify-content: space-between;
}

.header-left {
    padding: 0 0 0 50px;
    font-family: "Tektur", sans-serif;
}

.header-right {
    display: flex;
    padding-right: 50px;
    color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li {
    padding: 10px;
}
nav ul li a {
    color: black;
    font-family: "Tektur", sans-serif;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.about-total{
    margin: 55px 50px 50px 50px;
    display: flex;
    align-items: center;
    border: solid 10px;
    border-radius: 24px;
    border-color: rgb(184, 16, 103);
    background-color: rgb(70, 200, 200);
}
section figure img {
    padding: 80px 0 80px 200px;
}

.about {
    font-family: "Tektur", sans-serif;
    max-width: 486px;
    padding: 50px 120px 42px;
}
.about p {
    font-size: 20px;
    margin-bottom: 32px;
}

.about .buttons button{
    padding: 8px;
    border-radius: 8px;
    border-color: rgb(184, 16, 103);
    background-color: black;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    font-family: "Tektur", sans-serif;
}
.about .buttons .botao1:hover {
    transform: scale(1.1);
}

.about .buttons .botao2:hover {
    transform: rotate(10deg);
}

.projects h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px 0 30px 0;
    font-size: 50px;
    font-family: "Tektur", sans-serif;
    color: white;
}

.cards {
    display: flex;
    justify-content: center;
    /* margin: 50px; */
    padding: 50px;
    margin-bottom: 80px;
}

.card {
    border: solid 10px;
    border-radius: 24px;
    margin: 0 25px 0 25px;
    border-color: rgb(184, 16, 103);
    background-color: rgb(70, 200, 200);
    max-width: 500px;
    max-height: 700px;

}

.card-top img {
    max-width: 500px;
    max-height: 220px;
    border-radius: 12px 12px 0 0;
}

.card-bottom {
    display: flex;
    flex-direction: column;
}

.card-bottom h3 {
    font-family: "Tektur", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

.card-bottom p {
    font-family: "Tektur", sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 14px;
}

.button button {
    padding: 8px;
    border-radius: 8px;
    border-color: rgb(184, 16, 103);
    background-color: black;
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-family: "Tektur", sans-serif;
    margin-bottom: 25px;
}

.button {
    display: flex;
    justify-content: right;
    margin: 0 25px 0 0;
}

.botao3 {
    margin-top: 22px;
}

.botao3:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.447);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.botao4:hover {
    transform: translateX(10px);
}

.botao5:hover {
    transform: translateX(-10px);
}

.botao6:hover {
    transform: translateY(10px);
    
}

.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact h4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 0 80px 0;
    font-size: 50px;
    font-family: "Tektur", sans-serif;
    color: white;
}

.contact label {
    font-family: "Tektur", sans-serif;
    /* color: white; */
    color: rgb(70, 200, 200);
    /* transform: translateX(-100%); */
    /* align-items: start; */
    max-width: 200px;
    max-height: 200px;
}

.contact input {
    border-radius: 24px;
}

.botao6 {
    padding: 8px;
    border-radius: 8px;
    border-color: rgb(184, 16, 103);
    background-color: black;
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-family: "Tektur", sans-serif;
    margin-bottom: 100px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons img {
    margin: 25px;
}
